--extra-index-url https://download.pytorch.org/whl/cu118
monai==1.3.0
monailabel==0.8.1
nibabel
scikit-image>=0.14.2
scipy>=1.7.1
pillow
tensorboard
gdown>=4.4.0
pytorch-ignite==0.4.11
torchvision
itk>=5.2
tqdm>=4.47.0
lmdb
psutil
openslide-python==1.1.2
tifffile
imagecodecs
pandas
einops
transformers<4.22; python_version <= '3.10'
mlflow>=1.28.0
clearml>=1.10.0rc0
matplotlib
tensorboardX
pyyaml
fire
jsonschema
pynrrd
pydicom
h5py
nni
optuna
lpips==0.1.4
itkwidgets[notebook]
ipywidgets
papermill
jupytext
jupyter